@import '@/lib/styles/mixins.scss';
@import '@/lib/styles/variables.scss';

.post-job-page{
  @include flex-col-center;
  gap: 44px;
  padding: 0 370px;
  .post-job-page-form{
    width: 100%;
    .post-job-page-input-wrapper{
      display: flex;
      gap:16px;
      margin-top: 32px;
      width: 100%;
    }
    .post-job-page-company-section{
      .post-job-page-company-section-title{
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        p{
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 130%
        }
      }
      .post-job-page-company-section-switch{
        span{
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
        }
      }
    }
    .post-job-page-buttons{
      display: flex;
      width: 100%;
      margin-top: 32px;
      margin-bottom: 113px;
      justify-content: space-between;
      .post-job-page-buttons-right-side{
        display: flex;
        gap: 12px;
      }
    }
  }

}

@media screen and (max-width: 1400px) {
  .post-job-page{
    padding: 0 200px;
  }
}

@media screen and (max-width: 1300px) {
  .post-job-page{
    padding: 0 100px;
  }
}
@media screen and (max-width: 990px) {
  .post-job-page{
    padding: 0 80px;
  }
}
@media screen and (max-width: 800px) {
  .post-job-page{
    padding: 0 24px;
    .post-job-page-input-wrapper{
      flex-direction: column;
      margin-top: 16px !important;
    }
    .post-job-page-company-section-title{
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .post-job-page-buttons{
      flex-direction: column;
      gap: 16px;
      button{
        width: 100%;
      }
    }
  }
}
