@import '@/lib/styles/mixins.scss';
@import '@/lib/styles/variables.scss';

footer {
  min-height: 101px;
  padding: 41px;
  background-color: $dark;
  .container {
    @include flex-row-center;
    justify-content: flex-start;
    gap: 40px;
  }

  .nav-link,
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $light;
  }
  .nav-links {
    display: flex;
    gap: 40px;
  }
  .nav-policy {
    margin-left: auto;
  }
}

@media screen and (max-width: 800px) {
  footer {
    height: fit-content;
    .container {
      flex-direction: column-reverse;
      padding: 16px 0;
    }
    .nav-links {
      flex-direction: column;
      gap: 25px;
    }
    .nav-policy {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
