@import '@/lib/styles/mixins.scss';
@import '@/lib/styles/variables.scss';

.post-resume {
  @include flex-col-center;
  justify-content: flex-start;
  gap: 19px;
  padding-top: 44px;
  height: 100vh;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1179px;
    width: 100%;
    border-radius: 16px;
    background: $input-bg;
    padding: 40px 50px 39px 51px;
    width: 100%;

    &__context {
      @include flex-row-center;
      gap: 53px;

      &__texts {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      h1 {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
      }

      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        color: $grey-medium;
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {

  .post-resume {
    padding: 24px;


  }
}

@media screen and (max-width: 1100px) {

  .post-resume {
    padding: 16px;
    &__item {
      flex-direction: column;
      gap: 24px;

      &__context {
        flex-direction: column;
        text-align: center;
        p{
          display: flex;
          align-items: flex-start;
          height: fit-content;
          img{
            display: none;
          }
        }
      }
    }
  }

}