@import "@/lib/styles/mixins.scss";
@import "@/lib/styles/variables.scss";

.page-jobs {
	margin-bottom: 80px;

	.content {
		margin-top: 60px;

		.results {
			padding: 8px 0;
			height: 57px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 24px;

			.results-sort {
				display: flex;

				p {
					align-self: center;
					font-weight: bold;
					font-size: 16px;

					line-height: 21px;
				}
			}

			.results-count {
				align-self: center;
				font-size: 40px;
				font-weight: 700;
				line-height: 57px;
				color: $dark;
			}
		}
	}

	.single-result {
		display: flex;
		gap: 30px;
		justify-content: space-between;
		background-color: $light;
		border-radius: 12px;
		margin-bottom: 16px;
		box-shadow: 0px 4px 120px 0px rgba(151, 159, 183, 0.1);
		padding: 21px 25px;

		.result-content {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}

		.result-content__inner {
			display: flex;
			flex-direction: column;
			gap: 24px;

			.text-chip-container {
				margin-top: 24px;
			}

			h4 {
				font-weight: 700;
				font-size: 18px;
				line-height: 130%;
				color: $dark;
			}

			p {
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 160%;
				color: $grey-medium;
			}
		}

		.job-info {
			display: flex;
			align-items: center;
			gap: 20px;

			.job-location {
				@include flex-row-center;
				gap: 8px;
				font-size: 16px;
				font-weight: 400;
				line-height: 21px;
				color: $grey-medium;
			}

			.job-salary {
				@include flex-row-center;
				font-size: 16px;
				font-weight: 600;
				line-height: 21px;
				color: $dark;

				.icon {
					margin-right: 8px;
				}

				.salary-details {
					font-size: 16px;
					font-weight: 400;
					line-height: 21px;
					color: $grey-medium;
				}
			}
		}

		.result-actions {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.top-actions {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 16px;
			}

			.btn-actions {
				display: flex;
				flex-direction: column;

				.date {
					align-self: end;
					font-size: 14px;
					font-weight: 400;
					line-height: 18px;
					color: $grey-medium;
				}

				.btn-group {
					display: flex;
					margin-top: 16px;
					gap: 10px;
				}
			}
		}
	}

	.join-us {
		position: relative;
		height: 361px;
		background-image: url("/images/green-bg-search.svg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 12px;
		@include flex-col-center;
		margin-top: 60px;

		.bg {
			position: absolute;
			z-index: 1;
		}

		h5 {
			font-size: 40px;
			font-weight: 700;
			line-height: 57px;
			letter-spacing: 1px;
			text-align: center;
			position: relative;
			z-index: 2;
		}

		p {
			font-size: 20px;
			font-weight: 400;
			line-height: 32px;
			letter-spacing: 0px;
			z-index: 2;
			position: relative;
			text-align: center;
		}

		a {
			background: linear-gradient(0deg, #1d2427, #1d2427);
			width: 149px;
			height: 64px;
			padding: 16px 32px;
			border-radius: 18px;
			border: 1px;
			z-index: 2;
			position: relative;
			gap: 8px;
			font-size: 20px;
			font-weight: 700;
			line-height: 32px;
			@include flex-row-center;
			margin-top: 20px;
			color: $light;

			&.hover {
				opacity: 0.8;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.page-jobs {
		.content {
			//padding: 0 16px;
			margin: 0 auto;
		}

		.page-container {
			padding: 0 16px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.single-result {
		flex-direction: column;
	}
	.results-count {
		font-size: 20px !important;
	}
}

@media screen and (max-width: 800px) {
	.join-us {
		h5 {
			font-size: 30px !important;
		}
	}
}
